deterministic: True
batch_size: 128
batch_size_t_mult: 200
batch_size_v_mult: 4
model: wide_resnet
model_params:
  depth: 28
  width: 2
  dropout_rate: 0.0
dataset: "cifar10"
dataset_params:
  num_classes: 10
optimizer_params:
  momentum: 0.9
  weight_decay: 0.0005
  nesterov: True
lrs_params:
  warmup: False
  warmup_epochs: 5
filter:
  n_particles: 50
  std: 0.05
  lr: 1
  resample_threshold: 0.8
  interval: 1
  enabled: False
  print_policies_every: 5
  only_good: False
  extra_train: True
  good_threshold: 0.98
sync_bn: False
lr: 0.05
epochs: 250
ra_m: 5
ra_n: 2
ra_tf: "normal"
resume: False
evaluate: False
test: False
amp: True
profile: -1
data_threads: 2
data_threads_pft: 2
retrain_on_val_loss: False
num_retries: 2
reset_filter_on_val_loss: False
retrain_acc_threshold: 1.0
keep_epochs: 10
debug_print_freq: 100
validation_interval: 1
dataloader: "pim"
port: "2222"
train_dataset_path: "~/datasets/CIFAR/lmdb_dataset.lmdb"
val_dataset_path: "~/datasets/CIFAR/cifar10-val.lmdb"

tests:
  lmdb_dataset_path: "~/datasets/CIFAR/lmdb_dataset.lmdb"
  lmdb_val_dataset_path: "~/datasets/CIFAR/cifar10-val.lmdb"
lmdb_export:
  lmdb_dataset_dir: "/share/Projects/Datasets/ImageNet/" #"~/datasets/CIFAR/"
